*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    
}
.page-heading,.sub-title{
    /* the heading and subtitle heading in the header of the page */
    display: flex;
    justify-content: center;
    color: white;
}
.image-of-services{
    /* effects the size of all images in html format */
    height: 400px;
    width: 500px;
}
/* individual containers for all the separate images applied to all ▼ */
.container{
    height: 400px;
    width: 500px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    border:solid 3px white ;
    border-radius: 50%;

}



/* individual containers for all the separate images applied to all ▲ */
/* contains the service lable inside the images that tells the user what it is▼ */
.service-lable {
   
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width:100%;
    /* text-align: center; */
    z-index: 1;
    padding:10px 20px ;
    background-color: rgba(233, 10, 10, 0.582);
    color: white;
    
}
.service{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
/* fade out the service label when a user hovers over the service label to show more information */
.fade-out:hover>.image-container>.service-lable{
	animation: fadeOut 2s;
  	opacity: 0;
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}
/* contains the service lable inside the images that tells the user what it is▲ */
/* container for wedding card ▼ */
.wedding-services-1{
    position: absolute;
    width: 50%;
}
.engagement-services-2{
    position: absolute;
    width: 50%;
}
/* container for wedding card ▲ */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin:16px ;
}
/* =============================▼▼▼▼-Fade In-▼▼▼▼==================================================== */
/* everything in this section only appears when the user hovers over the container */
.service-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    text-align: center;
    opacity: 1;
    height:4rem ;
    position: absolute;
    top: 20%;  
    left: -900%; 
    transform: translate(-50%, -50%);
    /* display: none; */
    
}
.service-info > p , address{
margin-top: 20px;
font-weight: 600;
background-color: rgba(255, 255, 255, 0.178);
font-size: larger;
text-align: center;
/* opacity: 0; */

}
.service-info > .more-info {
    background-color: aqua;
    border-color: blueviolet;
    border-style: double;
    border-radius: 10px;
    border-width:5px ;
    font-size: larger;
    text-decoration: none;
    padding: 16px;
    
}

.container:hover>.image-container>.fade-in{
    animation:fadein 2s;
    opacity: 1;
    display: block;
    top: 20%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

@keyframes fadein {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}








/* on any screen that has a width smaller than 686px the size of images and circles will decrease and change direction into a colum to fit phone screen widths */
@media(max-width:686px){
    .wrapper{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        height: 100%;
        width: 100%;
        margin:16px ;
    }
    .container{
        height: 200px;
        width: 250px;
        margin: 16px;
        position: relative;
        overflow: hidden;
        border:solid 3px white ;
        border-radius: 50%;
    
    }
    .image-of-services{
        /* effects the size of all images in html format */
        height: 200px;
        width: 250px;
    }

    .service-lable {
        position: absolute;
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
        width:100%;
        /* text-align: center; */
        z-index: 1;
        padding:10px 20px ;
        background-color: rgba(233, 10, 10, 0.582);
        color: white;
        
    }
    .service{
        display: flex;
        justify-content: center;
        font-size: large;
        text-align: center;
    }
    
}
