*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    
}
.page-heading,.sub-title{
    /* the heading and subtitle heading in the header of the page */
    display: flex;
    justify-content: center;
    color: white;
}
.image-of-services{
    /* effects the size of all images in html format */
    height: 400px;
    width: 500px;
}
/* individual containers for all the separate images applied to all ▼ */
.container{
    height: 400px;
    width: 500px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    border:solid 3px white ;
    border-radius: 50%;

}
/* individual containers for all the separate images applied to all ▲ */
/* contains the service lable inside the images that tells the user what it is▼ */
.service-lable {
    position: absolute;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width:100%;
    /* text-align: center; */
    z-index: 1;
    padding:10px 20px ;
    background-color: rgba(233, 10, 10, 0.582);
    color: white;
    
}
.service{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
/* contains the service lable inside the images that tells the user what it is▲ */
/* container for wedding card ▼ */
.wedding-services-1{
    position: absolute;
    width: 50%;
}
.engagement-services-2{
    position: absolute;
    width: 50%;
}
/* container for wedding card ▲ */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin:16px ;
}
@media(max-width:686px){
    .wrapper{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        height: 100%;
        width: 100%;
        margin:16px ;
    }
    .container{
        height: 200px;
        width: 250px;
        margin: 16px;
        position: relative;
        overflow: hidden;
        border:solid 3px white ;
        border-radius: 50%;
    
    }
    .image-of-services{
        /* effects the size of all images in html format */
        height: 200px;
        width: 250px;
    }

    .service-lable {
        position: absolute;
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
        width:100%;
        /* text-align: center; */
        z-index: 1;
        padding:10px 20px ;
        background-color: rgba(233, 10, 10, 0.582);
        color: white;
        
    }
    .service{
        display: flex;
        justify-content: center;
        font-size: large;
        text-align: center;
    }
    
}
